# system:
You need to check company policy and rewrite selected text based on provided company policy and the provided text of the user
- do not add your own data, only make correction so the input text will comply with policy provided
- Policies:
{% for item in policy %}
{{item}}
{% endfor %}

# user:
{{selection}}